// Importar variables y mixins necesarios
@use '../utils/variables';
@use '../utils/mixins';


.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.bottom-margin {
    margin-bottom: 6rem !important;
}

.container-services {
    text-align: center;

    hr {
        width: 10%;
        height: 2px;
        margin: 2rem auto 2.5rem;
        background-color: gray;
    }
}

//------------------------- Part-PJT------------------------------

.container-pjt {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 20px;
    background: linear-gradient(135deg, variables.$second-color, variables.$primary-yellow);
    border-radius: variables.$border-radius-large;
}

.card-prin-pjt {
    border-radius: variables.$border-radius-large !important;
}

.con-pjt {
    padding: variables.$padding-large 70px;
}

.two-column {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.left-column,
.right-column {
    width: 50%;
    padding: variables.$padding-medium-home;
}

.card-image {
    width: 50% !important;
}

.card-link {
    border-radius: variables.$border-radius-medium !important;
    text-decoration: none !important;
    color: inherit !important;
    box-shadow: variables.$shadow-home;
    transition: transform variables.$transition-duration ease-in-out, box-shadow variables.$transition-duration ease-in-out;
    overflow: hidden;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px variables.$second-color;
    }

    .card-title-pjt,
    .card-text {
        text-decoration: none !important;
        color: inherit !important;
    }
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: variables.$gap-medium;

    .title-pjt {
        color: variables.$text-color-light;
        font-weight: bold;
        font-size: 2rem;
    }

    .description-pjt {
        color: variables.$text-color-light;
        font-weight: 500;
    }
}

.button-card-image {
    position: absolute;
    top: 155px;
    right: 10px;
    color: rgb(153, 188, 60);
    border-radius: 50%;
    width: variables.$button-size;
    height: variables.$button-size;
    @include mixins.flex-center;
    text-decoration: none;

    &:hover {
        color: variables.$second-color;
    }
}

.card-body-pjt {
    text-align: left;

    .card-title-pjt {
        font-size: 0.7rem;
    }

    .card-text-pjt {
        font-size: 1rem;
    }
}

// ------------ Responsive ---------------

@media screen and (max-width: 768px) {

    .title-pjt {
        font-size: 1.8rem !important;
    }

    .description-pjt {
        font-size: 1.2rem !important;
    }

    .con-pjt {
        padding: 30px 35px;
    }

    .two-column {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-column,
    .right-column {
        width: 100%;
        padding: 20px;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-image {
        width: 50% !important;
    }
}

@media screen and (max-width: 600px) {

    .title-pjt {
        font-size: 1.4rem !important;
    }

    .description-pjt {
        font-size: 1.1rem !important;
    }

    .con-pjt {
        padding: 30px 35px;
    }

    .container-pjt {
        width: 85%;
        padding: 10px;
    }

    .con-pjt {
        padding: 20px;
    }

    .container-cards-info {
        flex-direction: column;
    }


    .left-column .title-pjt {
        font-size: 1.5rem;
    }

    .left-column .description-pjt {
        font-size: 1rem;
    }

    .card-image {
        width: 80% !important;
        margin: 10px auto;
    }

    .card-img-top {
        height: 120px;
    }

    .button-card-image {
        top: 120px;
        right: 5px;
    }
}