// Importar variables y mixins necesarios
@use '../utils/variables';
@use '../utils/mixins';

//-------------- Project Card --------------
.about {
    text-align: center;
    padding: variables.$padding-large;
    color: variables.$text-color;
    margin-top: 0.7rem;

    &__title {
        font-size: variables.$title-font-size;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: variables.$subtitle-font-size;
        color: gray;
        margin-bottom: 20px;
    }

    &__divider {
        width: 80%;
        margin: 0 auto 20px;
        border: none;
        border-top: 1px solid black;
    }

    &__description {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

//-------------- Project Collage --------------
.collage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 3rem;

    &__image {
        width: 33.33vw; 
        height: 40vh;
        object-fit: cover;
        transition: transform 0.2s ease-in-out;
    }

    .react-medium-image-zoom {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}



//-------------- Project Card Info --------------
.panel-info-projects {
    text-align: center;
    padding: 50px;
    color: variables.$text-color;

    &__title {
        font-size: variables.$title-font-size;
        font-weight: bold;
        margin-bottom: 20px;

        span {
            color: variables.$second-color;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    &__icon {
        font-size: 40px;
        color: variables.$second-color;
        margin-bottom: 15px;
    }

    &__item-title {
        font-size: variables.$item-font-size;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__item-description {
        font-size: variables.$subtitle-font-size;
        color: variables.$text-color-secondary;
    }
}

//-------------- Project Info icons --------------
.highlight {
    background: linear-gradient(135deg, variables.$second-color, variables.$primary-yellow);
    color: variables.$text-color-light;
    padding: variables.$padding-large;
    text-align: center;
    border-radius: 15px;
    box-shadow: variables.$shadow-projects;
}

.highlight__title {
    font-size: variables.$title-font-size;
    font-weight: bold;
    margin-bottom: 1rem;
}

.highlight__text span {
    font-weight: bold;
    color: variables.$primary-yellow;
}

.highlight__stats {
    display: flex;
    justify-content: center;
    gap: variables.$gap-medium;
    margin: 2rem 0;
}

.highlight__stat {
    background: variables.$second-gray;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform variables.$transition-duration ease;
}

.highlight__stat:hover {
    transform: scale(1.05);
}

.highlight__icon {
    font-size: variables.$title-font-size;
    margin-bottom: 0.5rem;
}

.highlight__closing {
    font-size: 1.1rem;
    margin-top: 1rem;
}

//-------------- Project detalles del proyecto --------------
.project-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: variables.$background-color;
    padding: 40px;
    border-radius: 10px;

    .content {
        max-width: 50%;

        .title {
            font-size: variables.$title-font-size;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .details-list {
            list-style: none;
            padding: 0;

            .detail-item {
                display: flex;
                align-items: center;
                font-size: variables.$item-font-size;
                margin-bottom: 10px;

                .icon {
                    color: variables.$second-green;
                    margin-right: 20px;
                }
            }
        }
    }

    .image-container {
        max-width: 45%;

        .image {
            width: 100%;
            border-radius: 10px;
            object-fit: cover;
            transition: transform variables.$transition-duration ease-in-out;
        }
    }
}

// -------------- Project alcance del proyecto --------------
.project-scope {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: variables.$background-color;
    padding: 40px;
    border-radius: 10px;

    .content {
        max-width: 50%;

        .title {
            font-size: variables.$title-font-size;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .scope-list {
            list-style: none;
            padding: 0;

            .scope-item {
                display: flex;
                align-items: center;
                font-size: variables.$item-font-size;
                margin-bottom: 20px;

                .icon {
                    color: variables.$second-green;
                    margin-right: 20px;
                    flex-shrink: 0;
                }
            }
        }

        p {
            font-size: variables.$item-font-size;
            margin-top: 10px;
        }
    }

    .image-container {
        max-width: 45%;

        .image {
            width: 100%;
            border-radius: 10px;
            height: 400px;
            object-fit: cover;
            transition: transform variables.$transition-duration ease-in-out;
        }
    }
}

// ------------------- Responsive -------------------------------

// Tablet
@media screen and (max-width: 768px) {

    // Project card
    .about {
        width: 95%;
        padding: 2rem variables.$padding-medium;

        &__title {
            font-size: 1.6rem;
        }

        &__subtitle {
            font-size: 1.2rem;
        }

        &__description {
            font-size: 1rem;
            max-width: 600px;
        }
    }

    //Collage
    .collage{
        gap: 3px; 
        margin-bottom: 1.5rem;

        &__image {
            height: auto; 
        }
    }

    //  Project Card Info
    .panel-info-projects {

        &__icon {
            font-size: 2.5rem;
        }

        &__title {
            font-size: 1.6rem;
        }

        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }

        &__item-description {
            font-size: 1rem;;
        }
    }

    //-------------- Project Info icons --------------
    .highlight {
        width: 90%;
    }

    //-------------- Project detalles del proyecto --------------
    .project-details {
        gap: 2rem;
        flex-direction: column;

        .content {
            max-width: 80%;

            .details-list {
                display: flex !important;
                flex-direction: column;
                align-items: flex-start
            }
    
            .title {
                text-align: center;
            }
    
            .icon {
                font-size: 2rem !important;
            }
        }

        .image-container {
            max-width: 80%;
        }
    }

    // -------------- Project alcance del proyecto --------------
    .project-scope {
        gap: 2rem;
        flex-direction: column;
        
        .content {
            max-width: 80%;

            .scope-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start
            }

            .title {
                text-align: center;
            }
    
            .icon {
                font-size: 2rem !important;
            }
        }
    }
}

// Celular 
@media screen and (max-width: 600px) {

    // Project card
    .about {
        &__title {
            font-size: 1.4rem;
        }

        &__subtitle {
            font-size: 1rem;
        }

        &__divider {
            width: 90%;
        }

        &__description {
            font-size: 0.95rem;
            max-width: 100%;
            line-height: 1.4;
        }
    }

    // Collage
    .collage {
        gap: 2px; // Menos separación en móviles
        margin-bottom: 1rem;

        &__image {
            width: calc(100% - 2px); // En móviles, una imagen por fila
            height: auto;
        }
    }

    // Project Card Info
    .panel-info-projects {

        &__icon {
            font-size: 2rem;
        }

        &__title {
            font-size: 1.4rem;
        }

        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            padding: 10px;
        }

        &__item-description {
            font-size: 0.95rem;
        }
    }

    //-------------- Project Info icons --------------
    .highlight {
        padding: 2rem variables.$padding-medium;

        &__stats {
            display: flex;
            flex-direction: column;
        }

        &__stat{
            width: 60%;
            margin: 0 auto;
        }

        &__stat {
            padding: 1rem;
        }

        &__title {
            font-size: 1.4rem;
        }

        &__text {
            font-size: 0.95rem;
        }
    }

    //-------------- Project detalles del proyecto --------------
    .project-details {
        padding: 20px;

        .content {
            max-width: 80%;

            .title {
                font-size: 1.4rem;
            }

            .icon {
                font-size: 1.6rem !important; 
                flex-shrink: 0;

            }
    
            .text {
                flex-grow: 1; // Permite que el texto ocupe el resto del espacio
                display: flex;
                align-items: center; // Asegura alineación vertical con el ícono
            }
        }

        .image-container {
            max-width: 80%;
        }
    }

    // -------------- Project alcance del proyecto --------------   
    .project-scope {
        padding: 20px;

        .content {
            max-width: 80%;

            .title {
                font-size: 1.4rem;
            }

            .icon {
                font-size: 1.6rem;
            }

            .text {
                flex-grow: 1; // Permite que el texto ocupe el resto del espacio
                display: flex;
                align-items: center; // Asegura alineación vertical con el ícono
            }
        }

        .image {
            max-height: 250px;
        }
    }
}
