// Importar variables y mixins necesarios
@import '../utils/variables';
@import '../utils/mixins';

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: $whatsapp-green;
    color: white;
    font-size: 28px;
    width: $whatsapp-button-size;
    height: $whatsapp-button-size;

    @include flex-center;
    
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    z-index: 1000;

    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
        transform: scale(1.1);
        background-color: $whatsapp-green-hover;
    }
}