// Importar variables y mixins necesarios
@import '../utils/variables';
@import '../utils/mixins';

.custom-navbar {
    position: fixed !important;
    width: 95%;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent;
    transition: background $transition-duration ease-in-out;
    background-color: $second-color !important;
    --bs-bg-opacity: 1 !important;
    margin: 20px 40px !important;
    padding: 0 !important;
    border-radius: $border-radius;

    .navbar-brand,
    .color-link {
        color: $text-color-light !important;
    }
}

.container-fluid-navbar,
.navbar-collapse {
    background-color: $second-color;
    border-radius: $border-radius;
    padding: $padding-medium;
    width: 50% !important;
}

.navbar {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        li {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;

            &::after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                width: 0;
                height: 3px;
                background-color: rgb(217, 217, 217);
                transition: width $transition-duration ease-in-out, left $transition-duration ease-in-out;
                transform: translateX(-50%);
            }

            &:hover::after {
                width: 100%;
            }

            .color-text {
                color: black !important;
            }
        }
    }
}

.language-dropdown {
    margin-left: auto;

    .menu-language {
        min-width: auto; // Evita que tome un ancho predeterminado
        width: 120px; // Ajusta según el tamaño que prefieras
        padding: 5px 10px; // Reduce el espacio interno
    }

    .btn {
        @include flex-center;
        gap: $gap-small-navbar;
        font-size: 0.9rem;
        font-weight: 500;
        color: $text-color-light;
        background-color: transparent;
        border: 2px solid $text-color-light;
        border-radius: $border-radius;
        padding: 0.5rem 1rem;
        transition: all $transition-duration ease;

        .icon-navbar-lenguaje {
            font-size: 1.2rem;
        }
    }
}

.menu-language {
    .dropdown-item {
        &:hover,
        &:focus {
            background-color: $second-color;
            color: $text-color-light;
        }

        &.active {
            background-color: $second-color;
            color: $text-color-light;
        }
    }
}

.dropdown-menu-items {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    border: none;
    border-radius: 8px;
    box-shadow: $shadow-navbar;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all $transition-duration ease;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    li {
        .dropdown-item {
            color: gray;
            padding: 0.75rem 1.5rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: $gap-small-navbar;
            font-size: 0.9rem;
            transition: all $transition-duration ease;

            &:hover {
                background-color: $second-color;
                color: $text-color-light;
            }
        }
    }
}

 /* Botón hamburguesa */
.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

// ------------- Responsive -----------

// Ajustes para movil
@media (max-width: 600px) {
    .custom-navbar {
        width: 80% !important;
    }

    .language-dropdown .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px; // Ajusta si es necesario
    }

    .language-dropdown .btn::after {
        display: none; // Oculta el icono de dropdown si es necesario
    }

    .language-dropdown .btn span {
        display: none !important;
    }

    .menu-language {
        
    }
    
    .navbar-menu {
        width: 100% !important;
        left: 50% !important;
    }
    

}

// Ajustes para Tablets
@media (max-width: 768px) {

    .custom-navbar {
        width: 90%;
    }

    .language-dropdown {
        margin-right: 1rem;
    }

    .hamburger {
        display: block;
        margin-right: 2rem;
    }

    .navbar-menu {
        display: none;
        position: absolute;
        top: 80px;
        left: 75%;
        transform: translateX(-50%);
        width: 90%;
        background-color: $second-color;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        z-index: 100;
    }

    .navbar-menu.open {
        display: flex;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
            margin: 5px 0;
            width: 100%;
        }

        .dropdown {
            position: relative;
            width: 100%;

            .dropdown-toggle {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                font-weight: bold;
                color: white;
                padding: 10px;
                background: none;
                border: none;
                width: 100%;
                transition: all 0.3s ease;

                &:hover {
                    background-color: lighten($second-color, 10%);
                    border-radius: 5px;
                }
            }

            .dropdown-menu-items {
                display: none;
                flex-direction: column;
                background: darken($second-color, 5%);
                border-radius: 8px;
                padding: 10px;
                transition: all 0.3s ease-in-out;
                width: 100%;
                text-align: center;
            }

            &.open .dropdown-menu-items {
                display: flex;
                animation: fadeInDown 0.3s ease-in-out;
            }

            .dropdown-item {
                text-align: center;
                padding: 12px;
                font-size: 0.9rem;
                color: white;
                border-radius: 5px;
                transition: background 0.3s ease;

                &:hover {
                    background-color: lighten($second-color, 10%);
                }
            }
        }
    }

    /* Contenedor de "Proyectos" */
    .nav-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; // Asegura que todo se centre
    }

    /* Submenú */
    .dropdown-menu-items {
        position: absolute;
        top: 100%; // Justo debajo del botón
        left: 50%; // Centrado con respecto al botón
        transform: translateX(-50%); // Lo centra exactamente
        width: auto; // Se adapta al contenido
        min-width: 200px; // Ajusta el tamaño mínimo
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    }

    /* Mostrar el submenú */
    .nav-item .dropdown-menu-items.show {
        opacity: 1;
        visibility: visible;
        max-height: 300px;
    }

    /* Estilos de los ítems */
    .dropdown-menu-items .dropdown-item {
        padding: 10px;
        text-align: center;
        color: gray;
        transition: background 0.3s;
    }

    .dropdown-menu-items .dropdown-item:hover {
        background: #4CAF50;
        color: white;
    }

    
}