.custom-navbar {
    position: fixed !important;
    width: 95%;
    top: 0;
    left: 0;
    z-index: 10; 
    background: transparent;
    transition: background 0.3s ease-in-out;
    background-color: rgb(106, 168, 66) !important;
    --bs-bg-opacity: 1 !important;
    margin: 20px 40px !important;
    padding: 0 !important;
    border-radius: 20px;

    .navbar-brand, .color-link {
        color: rgb(255, 255, 255) !important;
    }


}

.container-fluid-navbar, .navbar-collapse {
    background-color: rgb(106, 168, 66);
    border-radius: 20px;
    padding: 1rem;
    width: 50% !important;
}

.navbar {
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        
        li {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }
    }
}

  /* Línea animada */
li {
    display: inline-block;
}

li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: rgb(217, 217, 217); ;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

li:hover::after {
    width: 100%;
}

.color-text {
    color: black !important;
}