// Importar variables y mixins necesarios
@use '../utils/variables';
@use '../utils/mixins';

// Button 
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(106, 168, 66) !important;
    --bs-btn-border-color: rgb(106, 168, 66) !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(85, 135, 53) !important;
    --bs-btn-hover-border-color: rgb(85, 135, 53) !important;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(85, 135, 53) !important;
    --bs-btn-active-border-color: rgb(85, 135, 53) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(106, 168, 66) !important;
    --bs-btn-disabled-border-color: rgb(106, 168, 66) !important;
}