// Importar variables y mixins necesarios
@use '../utils/variables';
@use '../utils/mixins';

// Estilo del ícono de contacto
.icon-contac {
    font-size: variables.$icon-size-large-contact;
    color: yellow;
}

// Media query para pantallas grandes
@media (min-width: 1280px) {
    .m-text {
        padding: 0 15rem 15px 15rem;
        font-size: 1.1rem;
    }

    .m-sub {
        font-weight: 600;
    }

    .container-division-top {
        padding-bottom: 20px;
    }
}

// Contenedor principal del contacto
.contacto-container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    position: relative;

    // Información de contacto
    .contacto-info {
        background: variables.$second-color;
        color: variables.$text-color-light;
        padding: variables.$form-padding;
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: left;
        border-radius: 12px;
        box-shadow: variables.$shadow;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .icon-redessociales-contact {
            font-size: variables.$icon-size-large-contact;
            color: variables.$text-color-light !important;
            margin: 0.4rem;
        }

        .contacto-logo {
            display: flex;
            align-items: center;
            margin: 20px 0;

            img {
                width: 70px;
                margin-right: 10px;
            }

            span {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .contacto-reviews {
            font-size: 14px;

            a {
                color: variables.$text-color-light;
                text-decoration: underline;
            }
        }
    }

    // Formulario de contacto
    .contacto-formulario {
        position: relative;
        background: variables.$background-light;
        padding: variables.$form-padding;
        top: -60px;
        left: -60px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        h4 {
            font-size: 20px;
            text-align: left;
            margin-bottom: 2rem;
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                display: block;
                text-align: left;
                margin-bottom: 5px;
            }

            .row {
                display: flex;
                gap: variables.$form-gap;

                .col-md-6 {
                    flex: 1;
                }
            }

            input,
            textarea {
                width: 100%;
                border: none;
                border-bottom: 1px solid variables.$text-color-light;
                padding: 5px;
                outline: none;
                background: none;
            }

            textarea {
                resize: none;
                overflow: hidden;
                height: variables.$form-input-height;
            }

            button {
                background: variables.$second-color;
                color: variables.$text-color-light;
                border: none;
                padding: variables.$form-button-padding;
                font-size: 16px;
                cursor: pointer;
                transition: variables.$transition-duration;
                border-radius: 8px;
                width: 100%;

                &:hover {
                    background: variables.$primary-color;
                }
            }
        }
    }
}

// --------------- Responsive ------------- 

// Tablets
@media (max-width: 768px) {    

    .mt-5 {
        margin-top: 0 !important;
    }

    .container-division-top p { // Asumiendo que description es un <p>
        padding: 0 4rem 1rem;
    }

    .contacto-container {
        flex-direction: column; // Para que los elementos se apilen verticalmente
        align-items: center;
        max-width: 100%;
    }

    .contacto-info {
        width: 90%; // Para que no ocupe todo el ancho
        text-align: center;
        margin: 1rem;
        align-items: center;
    }

    .contacto-formulario {
        width: 90%;
        top: 0 !important; 
        left: 0 !important;
        padding: 20px;
    }

}

// Celulares
@media (max-width: 600px) {

    .mt-5 {
        margin-top: 0 !important;
    }

    .container-division-top h2 { // Asumiendo que title es un <h2>
        font-size: 1.2rem;
        padding: 0 2rem;
    }
    
    .container-division-top p { // Asumiendo que description es un <p>
        font-size: 0.9rem;
        padding: 0 2rem 1rem;
    }

    .contacto-info {
        padding: 15px;
        margin: 0.5rem;
    }

    .contacto-formulario {
        padding: 15px;
        box-shadow: none;
        border-radius: 0;
    }

    .contacto-formulario form .row {
        flex-direction: column; // Poner los inputs en una sola columna
    }

    input, textarea {
        font-size: 14px;
        padding: 8px;
    }


    button {
        font-size: 14px;
        padding: 10px;
    }
}
